@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
*{
    margin:0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background: #f1f1f1;
    font-size: 100%;
    font-family: Arial, Helvetica,sans-serif;
  }
  main {
    flex: 1;
  }
  .container {
    width: auto;
    margin: 0 auto;
  }
  a {
    color: #6a6af8;
    text-decoration: none;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .header {
    background: #51bb7b;
  }
  
  .hidden {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }
  .navbar__logo {
    font-size: 1.5em;
    padding: 5px;
    font-weight: 300;
    text-decoration: none;
    color: #f5ffc3;
    background: rgba(0, 0, 0, 0.7);
    transition: color 400ms ease;
  }
  .navbar__logo:hover {
    color: #f2f2f2;
  }
  .navbar__menu {
    display: none;
  }

  
/*-- nav --*/
/* .navbar-default {
    display: flex;
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
    padding: 0em 0;
}
.navbar-brand {
    font-size: 40px;
	color: #fff;
	text-transform:uppercase;
}
.navbar-brand span {
    line-height: 0.5;
    color: #ffc100;
    text-transform: capitalize;
    transform: rotate(-150deg);
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
	-o-transform: rotate(-150deg);
	-ms-transform: rotate(-150deg);
    display: inline-block;
}
.navbar-default 
.navbar-brand, 
.navbar-default 
.navbar-brand:hover, 
.navbar-default 
.navbar-brand:focus {
    background: #005595;
    color: #fff;
    padding: 10px;
    height: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#f99104;
    background: none;
}
.navbar-nav > li > a {
	padding:22px 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    color:#777777;
}
.navbar-collapse {
    padding: 0;
    border-top: none;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
    margin-left: 0em;
}
.navbar-nav {
    float: right !important;
    margin: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#f99104;
}
.nav > li > a,.agile_short_dropdown li a {
	font-family: 'Varela Round', sans-serif;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #f99104 ! important;
    background-color: rgba(76, 76, 76, 0) ! important
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.24) ! important;
}
ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 4em;
    right: 27px ! important;
    min-width: 90px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: rgba(0, 0, 0, 0.24) ! important;
    color: #fff ! important;
}
.w3_agile_login{
	float:right;
}
.w3_agile_login a i{
	padding: .5em .7em;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active.open > a{
	color: #204b87;
}
.agile_short_dropdown li a {
    padding: 8px 20px;
    color: #fff;
    text-align: center;
}
.agile_short_dropdown li a:before{
	content:'';
	display:none;
} */

/*-- //nav --*/